<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.mapper.ManagementMapper">
	<insert id="insertManagement">
		insert into management
		(m_id, m_pw, m_name, m_birth, m_email, m_tel, m_enterday, m_photo, d_no, t_no) values
		(#{m_id}, #{m_pw}, #{m_name}, #{m_birth}, #{m_email}, #{m_tel}, #{m_enterday}, #{m_photo}, #{d_no}, #{t_no})
	</insert>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>
















