<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.mapper.ManagementMapper">
	<resultMap type="ManagementVO" id="ManagementStandard">
		<result property="mNo" column="m_no" />
		<result property="mId" column="m_id" />
		<result property="mPw" column="m_pw" />
		<result property="mName" column="m_name" />
		<result property="mBirth" column="m_birth" />
		<result property="mEmail" column="m_email" />
		<result property="mTel" column="m_tel" />
		<result property="mAddr" column="m_addr" />
		<result property="mEnterday" column="m_enterday"/>
		<result property="mPhoto" column="m_photo" />
		<result property="mConfirm" column="m_confirm" />
	</resultMap>
	<resultMap  id="ManagementResultMap" type="ManagementVO" extends="ManagementStandard">
		<association property="dNo" resultMap="com.yi.mapper.DepartmentMapper.DepartmentResultMap"/>
		<association property="tNo" resultMap="com.yi.mapper.TitleMapper.TitleResultMap"/>
	</resultMap>
	<!--  -->
	<select id="selectByJoinInformation" resultMap="ManagementResultMap">
		select *
		from management 
	</select>
	<!-- worker 생산팀만 나오도록 쪼로록  -->
	<select id="selectByDno" resultMap="ManagementResultMap">
		select *
		from management where m_del=1 and d_no=2 order by m_no desc
	</select>
	
	<select id="selectByJoinInformationTwo" resultMap="ManagementResultMap">
		select m.m_id, m.m_pw, m.m_name, m.m_birth, m.m_email, m.m_tel, m.m_enterday, m.m_photo, d.d_name, t.t_name from department d
		left join management m on d.d_no = m.d_no
		left join title t on d.d_no = t.t_no
	</select>
	<!-- 나의정보 -->
	<select id="selectMyInformationById" resultMap="ManagementResultMap" parameterType="String">
		select * from department d
		left join management m on d.d_no = m.d_no
		left join title t on d.d_no = t.t_no
		where m.m_id = #{mId}
	</select>
	<!-- 회원가입 -->
	<insert id="insertManagement" parameterType="ManagementVO">
		insert into management
		(m_id, m_pw, m_name, m_birth, m_email, m_tel, m_enterday, d_no, t_no) values
		(#{mId}, #{mPw}, #{mName}, #{mBirth}, #{mEmail}, #{mTel}, #{mEnterday}, #{dNo.dNo}, #{tNo.tNo})
	</insert>
	<!-- 로그인 -->
	<select id="selectByIdAndPw" parameterType="map" resultMap="ManagementStandard">
		select m_id, m_pw from management where m_id=#{mId} and m_pw=#{mPw}
	</select>
	
	<!-- 작업자관리 에서 작업자등록 -->
	<insert id="insertWorker" parameterType="ManagementVO">
		INSERT INTO management
		(m_name, m_birth, m_tel, m_enterday, m_confirm, m_addr, d_no, t_no) values
		(#{mName}, #{mBirth}, #{mTel}, #{mEnterday}, #{mConfirm}, #{mAddr},2, 1)
	</insert>
	
	<!-- worker 이름으로 검색  -->	
	<select id="selectWorkerByWorkerName" resultMap="ManagementResultMap">
		select * from management where m_name=#{mName} and m_del=1
	</select>
	<update id="deleteWorkerByMno">
		update management 
		set m_del=0
		where m_no = #{mNo}
	</update>
	<update id="modifyWorkerByMno">
		UPDATE management
		SET m_name=#{mName}, m_birth=#{mBirth}, m_tel=#{mTel}, m_addr=#{mAddr}, m_enterday=#{mEnterday}, m_confirm=#{mConfirm}
		WHERE m_no=#{mNo}
	</update>
	
	
	
	
	
	
	
	
	
</mapper>
















