<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.mapper.ProductMapper">
	<resultMap type="ProductVO" id="ProductStandard">
		<result property="pNo" column="p_no" />
		<result property="pWorkday" column="p_workday" />
		<result property="pWorktime" column="p_worktime" />
		<result property="pQy" column="p_qy" />
		<result property="pNote" column="p_note" />
		<result property="pSection" column="p_section" />
		<result property="pDel" column="p_del"/>
	</resultMap>
	<resultMap type="ProductVO" id="ProductResultMap" extends="ProductStandard">
		<association property="wNo" resultMap="com.yi.mapper.WarehousingMapper.WarehousingResultMap"/>
		<association property="mNo" resultMap="com.yi.mapper.ManagementMapper.ManagementResultMap"/>
		<association property="lNo" resultMap="com.yi.mapper.LineMapper.LineResultMap"/>
	</resultMap>
	<resultMap type="ProductVO" id="ProductByManagement" extends="ProductStandard">
		<collection property="mNo" resultMap="com.yi.mapper.ManagementMapper.ManagementResultMap"/>
	</resultMap>
	<select id="selectProductByAll" resultMap="ProductResultMap">
		select l.l_no, l.l_line, m.m_name, g.g_name, p.p_worktime, p.p_qy, b.b_process, b.b_setup, b.b_material, b.b_etc, p.p_section, p.p_workday, p.p_no
		from product p 
		left join line l on p.l_no = l.l_no
		left join management m on p.m_no = m.m_no
		left join warehousing w on p.w_no = w.w_no
		left join goods g on w.g_no = g.g_no
		left join badness b on p.p_no = b.p_no
	</select>
	
	<select id="selectByGoodsName" resultMap="ProductResultMap">
		select g.g_no, g.g_name from product p right join warehousing w on p.p_no = w.w_no right join goods g on p.p_no = g.g_no where g_del=1
	</select>
	
	<select id="selectByManagementName" resultMap="ProductByManagement"><!--  -->
		select * from management m left join product p on m.m_no = p.p_no where m_del=1
	</select>
	
	<select id="selectProductByLine" resultMap="ProductResultMap">
		select l.l_no, l.l_line from product p 
		right join line l on p.p_no = l.l_no
	</select>
	
	<select id="selectProductByManagement" resultMap="ProductResultMap">
		select m.m_no, m.m_name from product p 
		right join management m on p.p_no = m.m_no
	</select>
	
	<!-- product에서 생산일지등록 -->
	<insert id="insertBadness" parameterType="ProductVO">
		insert into badness (p_no, b_process, b_setup, b_material, b_etc)
		VALUES(#{pNo}, #{bProcess}, #{bSetup}, #{bMaterial}, #{bEtc})
	</insert>
	<insert id="insertProduct" parameterType="ProductVO"><!-- 상세보기할 때 그대로 쓰기. -->
		INSERT INTO product (p_no, p_workday, p_section, m_no, l_no, w_no, p_worktime, p_qy, p_note)
		VALUES(#{pNo},#{pWorkday}, #{pSection}, #{mNo.mNo}, #{lNo.lNo}, #{wNo.wNo}, #{pWorktime}, #{pQy}, #{pNote})
	</insert>
	<select id="nextPno" resultType="int"><!-- autoincrement 다음값 알아내긔 -->
		select max(p_no)+1 from product
	</select>
	<select id="selectMnoWnoPqyByProduct" resultMap="ProductResultMap">
		select l.l_no, l.l_line, p.p_workday, p.p_no, p.p_section, m.m_no, m.m_name, g.g_no, g.g_name, p.p_qy, p.p_worktime
		from product p 
		left join line l on p.l_no = l.l_no
		left join management m on p.m_no = m.m_no
		left join warehousing w on p.w_no = w.w_no
		left join goods g on w.g_no = g.g_no
		left join badness b on p.p_no = b.p_no 
 	 	where p.p_del=1 and exists (select l_no from line where l_no =l.l_no) order by p_workday desc, l_no 
	</select>
	
	<!-- 삭제 -->
	
	
	<!-- 생산번호로 셀렉트 -->
	<select id="selectJoinProductByPno" resultMap="ProductResultMap">
		select l.l_no, l.l_line, p.p_workday, p.p_no, p.p_section, m.m_no, m.m_name, g.g_no, g.g_name, p.p_qy, p.p_worktime 
		from product p 
		left join line l on p.l_no = l.l_no
		left join management m on p.m_no = m.m_no
		left join warehousing w on p.w_no = w.w_no
		left join goods g on w.g_no = g.g_no
		left join badness b on p.p_no = b.p_no 
 	 	where p.p_no =#{pNo}
	</select>
	
	
	
</mapper>
















