<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.mapper.ProductMapper">
	<resultMap type="ProductVO" id="ProductStandard">
		<result property="pNo" column="p_no" />
		<result property="pWorkday" column="p_workday" />
		<result property="pWorkname" column="p_workname" />
		<result property="pWorktime" column="p_worktime" />
		<result property="pQy" column="p_qy" />
		<result property="pNote" column="p_note" />
		<result property="pSection" column="p_section" />
	</resultMap>
	<resultMap type="ProductVO" id="ProductResultMap" extends="ProductStandard">
		<collection property="wNo" resultMap="com.yi.mapper.WarehousingMapper.WarehousingResultMap"/>
		<collection property="mNo" resultMap="com.yi.mapper.ManagementMapper.ManagementResultMap"/>
		<collection property="lNo" resultMap="com.yi.mapper.LineMapper.LineResultMap"/>
	</resultMap>
	<resultMap type="ProductVO" id="ProductByManagement" extends="ProductStandard">
		<collection property="mNo" resultMap="com.yi.mapper.ManagementMapper.ManagementResultMap"/>
	</resultMap>
	<select id="selectProductByAll" resultMap="ProductResultMap">
		select l.l_line, m.m_name, g.g_name, p.p_worktime, p.p_qy, b.b_process, b.b_setup, b.b_material, b.b_etc, p.p_section, p.p_workday, p.p_no
		from product p 
		left join line l on p.p_no = l.l_no
		left join management m on p.p_no = m.m_no
		left join warehousing w on p.p_no = w.w_no
		left join goods g on w.w_no = g.g_no
		left join badness b on p.p_no = b.b_no
	</select>
	
	<select id="selectByGoodsName" resultMap="ProductResultMap">
		select g.g_no, g.g_name from product p right join warehousing w on p.p_no = w.w_no right join goods g on p.p_no = g.g_no
	</select>
	
	<select id="selectByManagementName" resultMap="ProductByManagement"><!--  -->
		select * from management m left join product p on m.m_no = p.p_no
	</select>
	
	<insert id="insertProduct" parameterType="ProductVO">
		insert into product (w_no, p_workday, l_no, m_no, p_worktime, p_qy, p_note, p_section) VALUES
		(#{wNo}, #{pWorkday}, #{lNo}, #{mNo}, #{pWorktime}, #{pQy}, #{pNote}, #{pSection})
	</insert>
	
	<select id="selectProductByLine" resultMap="ProductResultMap">
		select l.l_no, l.l_line from product p 
		right join line l on p.p_no = l.l_no
	</select>
	
	<select id="selectProductByManagement" resultMap="ProductResultMap">
		select m.m_no, m.m_name from product p 
		right join management m on p.p_no = m.m_no
	</select>
	
	<insert id="insertBadness" parameterType="ProductVO">
		insert into badness 
		(p_no, b_process, b_setup, b_material, b_etc)
		VALUES(#{pNo}, #{bProcess}, #{bSetup}, #{bMaterial}, #{bEtc})
	</insert>
	
	
	
</mapper>
















