<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.mapper.TitleMapper">
	<resultMap type="TitleVO" id="TitleResultMap">
		<id property="tNo" column="t_no"/>
		<result property="tName" column="t_name" />
	</resultMap>
	<insert id="insertTitle">
		INSERT INTO title(t_name) VALUES (#{tName})
	</insert>
	
	<select id="selectAllTitle" resultType="TitleVO">
		select * from title
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>
















