<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.mapper.WarehousingMapper">
	<resultMap type="WarehousingVO" id="WarehousingStandard">
		<result property="wNo" column="w_no" />
		<result property="wDay" column="w_day" />
		<result property="wQy" column="w_qy" />
		<result property="wResult" column="w_result" />
		<result property="wMemo" column="w_memo" />
		<result property="wNote" column="w_note" />
	</resultMap>
	<resultMap type="WarehousingVO" id="WarehousingResultMap" extends="WarehousingStandard">
		<collection property="gNo" resultMap="com.yi.mapper.GoodsMapper.GoodsResultMap"/>
	</resultMap>
		
	<select id="selectWarehousingByAll" resultMap="WarehousingResultMap">
		select w.w_no, w.w_day, g.g_no, g.g_name, w.w_qy, w.w_result, w.w_memo, w.w_note, w.w_del
		from warehousing w 
		left join goods g on w.g_no = g.g_no where w.w_del=1 order by w.w_no desc
	</select>
	
	<insert id="insertWarehousing" parameterType="WarehousingVO">
		INSERT INTO warehousing(g_no, w_day, w_qy, w_result, w_memo, w_note)
		VALUES(#{gNo.gNo}, #{wDay}, #{wQy}, #{wResult}, #{wMemo}, #{wNote});
	</insert>
	
	<update id="deleteWarehousing">
		UPDATE warehousing SET w_del=0 WHERE w_no=#{wNo}
	</update>
	
	<update id="modifyWarehousing">
		UPDATE warehousing
		SET g_no=#{gNo}, w_day=#{wDay}, w_qy=#{wQy}, w_result=${wResult}, w_memo=#{wMemo}, w_note=#{wNote}
		WHERE w_no=#{wNo}
	</update>
	
	
	
	
	
	
	
	
	
	
</mapper>
















